In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [27]:
dataset_file = '../datasets/Wage.csv'
data = pd.read_csv(dataset_file, index_col=0)
data = data.drop(['region'], axis=1)
data = pd.concat([data, pd.get_dummies(data.maritl)], axis=1).drop(['maritl', '5. Separated'], axis=1)
data = pd.concat([data, pd.get_dummies(data.race)], axis=1).drop(['race', '4. Other'], axis=1)
data = pd.concat([data, pd.get_dummies(data.education)], axis=1).drop(['education', '5. Advanced Degree'], axis=1)
data['job_industrial'] = data.jobclass.apply(lambda v: 1 if v.startswith('1') else 0)
data = data.drop(['jobclass'], axis=1)
data['health_good'] = data.health.apply(lambda v: 1 if v.startswith('1') else 0)
data = data.drop(['health'], axis=1)
data['health_ins'] = data.health_ins.apply(lambda v: 1 if v.startswith('1') else 0)
data.head()

Empty DataFrame
Columns: [year, age, maritl, race, education, jobclass, health, health_ins, logwage, wage]
Index: []

,year,age,health_ins,logwage,wage,1. Never Married,2. Married,3. Widowed,4. Divorced,1. White,2. Black,3. Asian,1. < HS Grad,2. HS Grad,3. Some College,4. College Grad,job_industrial,health_good
231655,2006,18,0,4.318063,75.043154,1,0,0,0,1,0,0,1,0,0,0,1,1
86582,2004,24,0,4.255273,70.476020,1,0,0,0,1,0,0,0,0,0,1,0,0
161300,2003,45,1,4.875061,130.982177,0,1,0,0,1,0,0,0,0,1,0,1,1
155159,2003,43,1,5.041393,154.685293,0,1,0,0,0,0,1,0,0,0,1,0,0
11443,2005,50,1,4.318063,75.043154,0,0,0,1,1,0,0,0,1,0,0,0,1

In [28]:
from sklearn.preprocessing import PolynomialFeatures

In [33]:
poly_age = PolynomialFeatures(degree=4).fit_transform(data.age.to_frame())
poly_age.shape

(3000, 5)

In [34]:
poly_age

array([[1.000000e+00, 1.800000e+01, 3.240000e+02, 5.832000e+03,
        1.049760e+05],
       [1.000000e+00, 2.400000e+01, 5.760000e+02, 1.382400e+04,
        3.317760e+05],
       [1.000000e+00, 4.500000e+01, 2.025000e+03, 9.112500e+04,
        4.100625e+06],
       ...,
       [1.000000e+00, 2.700000e+01, 7.290000e+02, 1.968300e+04,
        5.314410e+05],
       [1.000000e+00, 2.700000e+01, 7.290000e+02, 1.968300e+04,
        5.314410e+05],
       [1.000000e+00, 5.500000e+01, 3.025000e+03, 1.663750e+05,
        9.150625e+06]])